main {
  padding: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/main.jpg) top no-repeat;
  background-size: cover;
  min-height: 657px;
  color: #fff;
}
main .logo img {
  padding-top: 1.2rem ;
  padding-bottom: 1.8rem;
  width: 23.3rem;
}
main .features ul li {
  padding-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.31rem;
  line-height: 1.8rem;
  color: #FFF;
  list-style-type: none;
}
main .link {
  text-align: center;
}
main .link button {
  padding-bottom: 7px;
  background-color: #EB691B;
  border: none;
  width: 17rem;
  height: 3.6rem;
  border-radius: 10px;
  margin-top: 0.4rem;
}
main .link button a {
  font-weight: 400	;
  font-size: 2.2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 0.3rem;
}
main .link button:hover {
  background-color: #EB561B;
}
main .contacts {
  text-align: center;
  padding-top: 2.19rem;
}
main .contacts i {
  margin: 0 0.3rem;
  font-size: 1.9rem;
}
main .menu {
  text-align: center;
}
main .menu-item {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  height: 9rem;
  width: 14rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/seti.png) top no-repeat;
}
main .menu-item h3 {
  font-size: 2rem;
  line-height: 2rem;
}
main .menu .blud {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/bluda.jpg) center no-repeat;
  background-size: cover;
}
main .menu .souse {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/souce.jpg) center no-repeat;
  background-size: cover;
}
main .twree {
  text-align: center;
}
main .twree img {
  padding: 0.5rem 0 1rem 0;
  width: 16rem;
}
main .twree .adres h2 {
  margin-bottom: 1.2rem;
}
main .twree .adres .cart {
  margin: 0 auto;
}
main .twree .adres .cart iframe {
  width: 335px;
  height: 240px;
  filter: brightness(87%);
  -ms-filter: brightness(87%);
  -webkit-filter: brightness(87%);
  -moz-filter: brightness(87%);
  -o-filter: brightness(87%);
}
main .twree .adres p {
  font-size: 1.4rem;
  font-weight: 600;
}
main .twree .adres p a {
  color: #EB691B;
}
main .twree .adres p a:hover {
  color: #EB691B;
}
footer {
  background-color: #272A32;
  height: 2rem;
  margin: 0;
  padding: 3px 0 5px 0;
}
footer p {
  margin: 0;
  color: #fff;
  text-decoration: none;
  float: right;
}
footer p a {
  color: #EB691B;
  text-decoration: none;
}
@media (max-width: 726px) {
  main {
    padding: 2rem 0 1rem 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../img/main.jpg) center no-repeat;
    background-size: cover;
  }
  main h1,
  main h2 {
    font-size: 2.7rem;
  }
  main h2 {
    padding-top: 2rem;
  }
  main .link {
    margin-top: 1.5rem;
  }
  main .contacts {
    padding-top: 1.2rem;
    padding-bottom: 2rem;
  }
  main .logo {
    text-align: center;
  }
  main .menu-item {
    width: 18rem;
  }
}
@media (max-width: 400px) {
  main .logo img {
    width: 18rem;
  }
}
@media (max-width: 300px) {
  main .features ul li {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  main .logo img {
    width: 18rem;
  }
  main .twree .adres .cart iframe {
    width: 265px;
    height: 180px;
  }
}
