button,
button:active,
button:focus {
  outline: none;
}
body {
  height: 5rem;
}
main {
  padding: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/main.jpg) top no-repeat;
  background-size: cover;
  min-height: 657px;
  color: #fff;
}
main .logo img {
  padding-top: 1.2rem ;
  padding-bottom: 1.8rem;
  width: 23.3rem;
}
main .features ul li {
  padding-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.31rem;
  line-height: 1.8rem;
  color: #FFF;
  list-style-type: none;
}
main .link {
  text-align: center;
}
main .link button {
  padding-bottom: 7px;
  background-color: #EB691B;
  border: none;
  width: 17rem;
  height: 3.6rem;
  border-radius: 10px;
  margin-top: 0.4rem;
}
main .link button a {
  font-weight: 400	;
  font-size: 2.2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 0.3rem;
}
main .link button:hover {
  background-color: #B12F00;
}
main .contacts {
  text-align: center;
  padding-top: 2.19rem;
}
main .contacts a {
  color: white ;
}
main .contacts i {
  margin: 0 0.3rem;
  font-size: 1.9rem;
}
main .second-column {
  text-align: center;
}
main .second-column .menu-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  height: 9rem;
  width: 14rem;
  border-radius: 1rem;
  margin-top: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/seti.png) top no-repeat;
}
main .second-column .menu-button h3 {
  font-size: 2rem;
  line-height: 2rem;
}
main .second-column .menu-button:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/seti.png) top no-repeat;
}
main .second-column .hot-meals {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/bluda.jpg) center no-repeat;
  background-size: cover;
  padding: 1rem;
}
main .second-column .hot-meals:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bluda.jpg) center no-repeat;
  background-size: cover;
}
main .second-column .sauces {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url(../img/souce.jpg) center no-repeat;
  background-size: cover;
}
main .second-column .sauces:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/souce.jpg) center no-repeat;
  background-size: cover;
}
main .modal {
  text-align: center;
  width: auto;
  border: none;
  padding: 0;
}
main .modal .close {
  position: absolute;
  top: -1rem;
  right: 6rem;
  border: none;
  width: 3rem;
  font-size: 4rem;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  position: fixed;
}
main .recepts {
  box-shadow: 1rem 1rem 3rem 3rem rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  margin: 3rem 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/modal-bg.png) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main .recepts-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
main .recepts-title h4 {
  font-size: 2.8rem;
}
main .recepts-item {
  margin-bottom: 2rem;
  background-repeat: 1rem;
  text-align: center;
}
main .recepts-item h5 {
  font-size: 30px	;
}
main .recepts-item span {
  font-size: 24px;
  color: #FF561B;
  font-weight: bold;
}
main .recepts-item img {
  border-radius: 1rem;
  width: 19rem;
  padding-bottom: 1rem;
}
main .third-column {
  text-align: center;
}
main .third-column img {
  padding: 0.5rem 0 1rem 0;
  width: 16rem;
}
main .third-column .adres h2 {
  margin-bottom: 1.2rem;
}
main .third-column .adres .cart {
  margin: 0 auto;
}
main .third-column .adres .cart iframe {
  width: 335px;
  height: 240px;
  filter: brightness(87%);
  -ms-filter: brightness(87%);
  -webkit-filter: brightness(87%);
  -moz-filter: brightness(87%);
  -o-filter: brightness(87%);
}
main .third-column .adres p {
  font-size: 1.4rem;
  font-weight: 600;
}
main .third-column .adres p a {
  color: #EB691B;
}
main .third-column .adres p a:hover {
  color: #EB691B;
}
footer {
  background-color: #272A32;
  height: 2rem;
  margin: 0;
  padding: 3px 0 5px 0;
}
footer p {
  margin: 0;
  color: #fff;
  text-decoration: none;
  float: right;
}
footer p a {
  color: #EB691B;
  text-decoration: none;
}
@media (min-width: 1400px) {
  main {
    padding-top: 7rem;
    min-height: 60rem;
  }
}
@media (max-width: 726px) {
  main {
    padding: 2rem 0 1rem 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../img/main.jpg) center no-repeat;
    background-size: cover;
  }
  main h1,
  main h2 {
    font-size: 2.7rem;
  }
  main h2 {
    padding-top: 2rem;
  }
  main .link {
    margin-top: 1.5rem;
  }
  main .contacts {
    padding-top: 1.2rem;
    padding-bottom: 2rem;
  }
  main .logo {
    text-align: center;
  }
  main .menu-item {
    width: 18rem;
  }
}
@media (max-width: 576px) {
  main .modal .recepts {
    background: linear-gradient(to top, rgba(24, 24, 26, 0.9), rgba(24, 24, 26, 0.9)), url(../im/modal-bg.png) center no-repeat;
  }
  main .modal .close {
    position: absolute;
    top: -1rem;
    right: 1rem !important;
    border: none;
    width: 3rem;
    font-size: 4rem;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    position: fixed;
  }
}
@media (max-width: 400px) {
  main .logo img {
    width: 18rem;
  }
}
@media (max-width: 300px) {
  main .features ul li {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  main .logo img {
    width: 18rem;
  }
  main .twree .adres .cart iframe {
    width: 265px;
    height: 180px;
  }
}
