button, 
button:active, 
button:focus {
    outline: none;
}
body{
	height: 5rem;	
}
main{
	padding:2rem;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(../img/main.jpg) top no-repeat;
	background-size:cover;
	min-height:657px;
	color:#fff;
	.logo{
		img{
			padding-top: 1.2rem ;
			padding-bottom: 1.8rem;
			width:23.3rem;
		}
		
	}
	.features{
		ul{
			li{
			padding-bottom: 0.5rem;
			font-weight:400;
			font-size: 1.31rem;
			line-height: 1.8rem;	
			color:#FFF;
			 list-style-type: none;
			}
		}
	}
	.link{
		text-align: center;	
		button{
		padding-bottom: 7px;
		background-color: #EB691B;
		border:none;
		width: 17rem;
		height: 3.6rem;
		border-radius:10px;
		margin-top: 0.4rem;	
			a{
				font-weight: 400	;
				font-size: 2.2rem;	
				text-decoration: none;	
				color:#fff;
				border-radius: 0.3rem;
			}	
		}
			button:hover{
				background-color: #B12F00;
			}
	}	
	.contacts{
		text-align: center;			
		padding-top: 2.19rem;	
		i{
		margin: 0 0.3rem;
		font-size: 1.9rem;
		}
	}













	// Все селекторы и классы и стили для МЕНЮ

	.second-column{
		text-align: center;

		.menu-button{
			padding: 0;
  			border: none;
  			font: inherit;
  			color: inherit;
  			background-color: transparent;
			padding-top:2.5rem;
			padding-bottom: 2.5rem;
			margin:0 auto;
			height: 9rem;
			width: 14rem;
			border-radius: 1rem;
			margin-top: 2rem;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/seti.png) top no-repeat;

			h3{
				font-size: 2rem;
				line-height: 2rem;
			}
		}
		.menu-button:hover{
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/seti.png) top no-repeat;
		
		}
		.hot-meals{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/bluda.jpg) center no-repeat;
			background-size: cover;
			padding: 1rem;	
		}
		.hot-meals:hover{
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../img/bluda.jpg) center no-repeat;
		background-size: cover;
		}
		.sauces{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/souce.jpg) center no-repeat;
			background-size: cover;
		}
		.sauces:hover{
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../img/souce.jpg) center no-repeat;
		background-size: cover;
		}
	}
	

	

		.modal{	
			text-align: center;
			width: auto;
			border:none;
			padding:0;
			.close {
				position: absolute;
				top: -1rem;
				right: 6rem;
				border: none;
				width: 3rem;
				font-size: 4rem;
				background-color: transparent;
				color: #FFF;
				text-align: center;
				position: fixed;			
			}

		}	
		
		.recepts{

			box-shadow: 1rem 1rem 3rem 3rem rgba(255,255,255, 0.1);
			border-radius: 1rem;
			margin: 3rem 0;
			// min-height: 50rem;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/modal-bg.png) center no-repeat;
			background-attachment: fixed;
			background-size: cover;	

			&-title{
				padding-top: 1rem;
				padding-bottom: 2rem;
				h4{
					font-size: 2.8rem;
				}
			}
			&-item{
				margin-bottom: 2rem;
				background-repeat: 1rem;
				text-align: center;
				h5{
					font-size:30px	;
				}
				span{
					font-size: 24px;
					color:#FF561B;
					font-weight: bold;
				}
				img{
					border-radius: 1rem;
					width: 19rem;
				}
			}
		}	

		




















	.third-column{
		text-align: center;
		img{
			padding: 0.5rem 0 1rem 0;
			width: 16rem;
		}
		.adres{
			h2{
				margin-bottom: 1.2rem;
			}
			.cart{
				margin: 0 auto;
				iframe {
					width:335px;
					height:240px;
					filter: brightness(87%);
					-ms-filter: brightness(87%);
					-webkit-filter: brightness(87%);
					-moz-filter: brightness(87%);   
					-o-filter: brightness(87%);  
}
			}
			p{
				font-size: 1.4rem;
				font-weight: 600;
				a{
					color:#EB691B;
				}
				a:hover{
					color:#EB691B;
				}
			}
		}
	}

}
footer{
	background-color: #272A32;
	height: 2rem;
	margin: 0;	
	padding: 3px 0 5px 0;		
	p{
		margin: 0;	
		color:#fff;
		text-decoration: none;	
		float: right;
		a{
			color:#EB691B;
			text-decoration: none;	
		}
	}
}
@media(min-width:1400px){
	main{
		padding-top: 7rem;	
		min-height: 60rem;	
	}


}





@media(max-width:726px){
	main{
		padding:2rem 0 1rem 0;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)),url(../img/main.jpg) center no-repeat;
		background-size:cover;
		h1,h2{
			font-size: 2.7rem;
		}
		h2{
			padding-top: 2rem;
		}
		.link{
			margin-top:1.5rem;	
		}
		.contacts{
			padding-top: 1.2rem;
			padding-bottom: 2rem;
		}
		.logo{
			text-align: center;
		}

		.menu-item{
			width: 18rem;
		}
		
	}	
}
@media (max-width:576px) {
	background-size: contain;
}
@media(max-width:400px){
	main{
		.logo {
			img{
				width:18rem;
			}
		}
	}		
}
@media(max-width:300px){
	main{
	.features{
		ul{
			li{
			font-size: 1.4rem;
			line-height: 1.5rem;	
			}
		}
	}
		.logo {
			img{
				width:18rem;
			}
		}
		.twree{
			.adres{
				.cart{
					iframe{
						width:265px;
						height:180px;				
					}
				}
			}	
		}

	}
}
