
main{
	padding:2rem 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(../img/main.jpg) top no-repeat;
	background-size: cover;
	height:657px;
	color:#FFF;
	.logo{


		img{
			padding-top: 1.2rem ;
			padding-bottom: 1.8rem;
			width:23.3rem;
		}
		
	}
	.features{
		ul{
			li{
			padding-bottom: 0.5rem;
			font-weight:400;
			font-size: 1.31rem;
			line-height: 1.8rem;	
			color:#FFF;
			 list-style-type: none;
			}
		}
	}
	.link{
		text-align: center;	
		button{
			padding-bottom: 7px;
		background-color: #EB691B;
		border:none;
		width: 17rem;
		height: 3.6rem;
		border-radius:10px;
		margin-top: 0.4rem;	
			a{
				font-weight: 400	;
				font-size: 2.2rem;	
				text-decoration: none;	
				color:#fff;
				border-radius: 0.3rem;
			}	
		}
			button:hover{
				background-color: #EB561B;
			}
	}	
	.contacts{
		text-align: center;			
		padding-top: 2.19rem;	
		i{
		margin: 0 0.3rem;
		font-size: 1.9rem;
		}
	}
	.menu{
		text-align: center;
		&-item{
			padding: 2.5rem 0;
			margin:0 auto;
			height: 9rem;
			width: 14rem;
			border-radius: 1rem;
			margin-top: 2rem;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/seti.png) top no-repeat;
			h3{
				font-size: 2rem;
				line-height: 2rem;
			}
		}
		.blud{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/bluda.jpg) center no-repeat;
			background-size: cover;
		}
		.souse{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url(../img/souce.jpg) center no-repeat;
			background-size: cover;
		}
	}
	.twree{
		text-align: center;
		img{
			padding: 0.5rem 0 1rem 0;
			width: 16rem;
		}
		.adres{
			h2{
				margin-bottom: 1.2rem;
			}
			.cart{
				margin: 0 auto;
				iframe {
					filter: brightness(87%);
					-ms-filter: brightness(87%);
					-webkit-filter: brightness(87%);
					-moz-filter: brightness(87%);   
					-o-filter: brightness(87%);  
}
			}
			p{
				font-size: 1.4rem;
				font-weight: 600;
			}
		}
	}
}
